/**
*   File: style.css
*   Author: Scott Ko
*   Date: 6/29/2013
**/


/*Modified from tablesorter example*/

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	font-size: 100%;
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 100%;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
    padding-right: 20px;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
        padding-right: 20px;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
        padding-right: 20px;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

div#button {
        padding-left: 45%;
        font-family:arial;
        font-size: 100%;
}

